@import "tailwindcss";

/* HTML ada di ROOT */
@source "../*.html";
@source "../**/*.html";

.navbar-fixed {
  @apply fixed z-9999 bg-white/40 backdrop-blur-md;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}


.hamburger-active span:nth-child(1) {
  @apply translate-y-2 rotate-45;
}

.hamburger-active span:nth-child(2) {
  @apply opacity-0;
}

.hamburger-active span:nth-child(3) {
  @apply -translate-y-2 -rotate-45;
}
